<template>
  <div class="window-width window-height fondo-style my-font">
    <div class="absolute-center bg-transparent column items-center radio-bordes q-pa-sm q-pb-lg" style="width:90%">
      <q-img class="bg-transparent" src="logolight.svg" style="width:70%;height:15%;border-radius:12px" />
      <div class="column q-ma-sm q-mt-xl">
        <q-input v-model="form.username" dense placeholder="Correo electrónico" class="full-width" bg-color="white" color="secondary" outlined
          :error="$v.form.username.$error" @blur="$v.form.username.$touch()"
        >
          <template v-slot:prepend>
            <q-icon name="mail" color="primary"></q-icon>
          </template>
        </q-input>
        <q-input :type="isPwd ? 'password' : 'text'" v-model="form.password" placeholder="Contraseña" dense class="full-width" bg-color="white" color="secondary" outlined
          :error="$v.form.password.$error" @blur="$v.form.password.$touch()"
        >
          <template v-slot:prepend>
            <q-icon name="lock" color="primary" />
          </template>
          <template v-slot:append>
            <q-icon :name="isPwd ? 'visibility' : 'visibility_off'" class="cursor-pointer" color="primary" @click="isPwd = !isPwd" />
          </template>
        </q-input>
      </div>
      <q-card class="column full-width items-center bg-transparent no-border no-box-shadow">
        <q-btn color="secondary" style="width:60%" label="Ingresar" @click="loguear()" push text-color="primary" class="titles-font" />
        <div class="column full-width items-center q-mt-md q-mt-xl">
          <!--  <q-btn text-color="white" label="Olvidé mi contraseña" flat dense color="primary" @click="recoveryD = true" />
          <q-space />
          -->
          <label class="text-white my-font2">¿Aún no tienes cuenta?</label>
          <q-btn label="Registrate Aquí" style="font-size:15px;letter-spacing:3px;" text-color="white" class="q-mt-sm full-width titles-font" flat color="primary" dense rounded to="/registro" />
        </div>
      </q-card>
    </div>
    <q-dialog v-model="recoveryD" class="full-width">
      <recovery :dialogo="0" class="full-width" />
    </q-dialog>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import Recovery from '../components/RecoveryPassword'
import { required } from 'vuelidate/lib/validators'
export default {
  components: {
    Recovery
  },
  data () {
    return {
      isPwd: true,
      form: {},
      recoveryD: false
    }
  },
  validations () {
    return {
      form: {
        username: { required },
        password: { required }
      }
    }
  },
  mounted () {
    console.log(this.$route, 'asd')
    this.getDeviceToken()
  },
  methods: {
    ...mapMutations('generals', ['login']),
    /* getDeviceToken () {
      alert('Got FCM token: ')
      var vm = this
      FirebasePlugin.getToken(function (token) {
        vm.form.deviceToken = token
        alert('Got FCM token: ' + token)
        if (token === null) {
          vm.getDeviceToken()
        } else {
          alert(token)
          vm.$q.localStorage.set('dT', token)
        }
      }, function (error) {
        vm.getDeviceToken()
        console.log('Failed to get FCM token', error)
      })
    }, */
    async loguear () {
      this.$q.loading.show({
        message: 'Iniciando sesión'
      })
      this.$v.$touch()
      if (!this.$v.form.$error) {
        const tokenDis = this.$q.localStorage.getItem('dT')
        this.form.dispositiveToken = tokenDis
        await this.$api.post('login', this.form).then(res => {
          console.log(res, 'res login')
          if (res) {
            /* const token = res.api_token
            delete res.api_token
            res.token = token */
            this.login(res)
            this.$router.push('/index')
            console.log('logueado')
          } else {
            console.log('error de ususario')
          }
          this.$q.loading.hide()
        })
      }
      this.$q.loading.hide()
    }
  }
}
</script>

<style scoped lang="scss">
</style>
