<template>
  <q-page class="q-pb-lg titles-font" style="padding: 0px !important;margin:0px !important">
    <div class="q-pt-md row justify-center">
      <q-btn-toggle v-model="toggle" toggle-text-color="primary" text-color="secondary" toggle-color="secondary"
        :options="[{label: 'Historial', value: 'his'},{label: 'Pendientes', value: 'pen'}]" @input="onToggleInput()"
      />
    </div>
    <q-separator inset class="q-mt-md" />

    <q-tab-panels v-model="toggle" animated style="padding: 0px !important;margin:0px !important">
        <q-tab-panel name="his" style="padding: 10px !important;margin:0px !important">
          <div class="q-mt-xs row q-gutter-x-sm justify-center items-center my-font-regular" v-if="toggle === 'his'">
            <q-input v-model="range.date1" mask="date" :rules="['date']" borderless dense label="DESDE" style="width:140px" readonly class="select-border" >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer" color="primary">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="range.date1">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat/>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <q-input v-model="range.date2" mask="date" :rules="['date']" borderless dense label="HASTA" style="width:140px" readonly class="select-border">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer" color="primary">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="range.date2">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat @click="filterRange()"/>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <q-icon name="refresh" size="20px" flat color="primary" clickable v-ripple @click="getRecord()" />
          </div>
          <div style="padding: 0px !important;margin:0px !important">
            <q-card class="box-shadow-card-listados q-mt-md padding-card" v-for="(item, index) in filterData" :key="index" style="border-radius:15px">
              <q-card-section style="padding: 0 !important;margin:0px !important">
                <q-item style="padding: 0 !important;margin:0px !important">
                  <q-item-section>
                    <q-item-label class="text-bold text-primary titles-font" style="font-size:15px">Receipt Number #{{item.id}}</q-item-label>
                    <!--  <q-item-label class="text-primary my-font-regular">Retraso: {{item.days_delay}}</q-item-label> -->
                    <q-item-label class="text-primary my-font-regular" v-if="item.expiration_days && item.expiration_days > 0">Expiración: {{item.expiration_days}} Dias </q-item-label>
                    <q-item-label class="text-primary my-font-regular" lines="2">Fecha de emisión: {{item.created_date}} </q-item-label>
                    <q-item-label  class="text-primary my-font-regular" >Total: ${{item.amount}} </q-item-label>
                    <div class="text-primary my-font-semibold row q-mt-sm items-center" style="font-size:14px" >
                      <div style="width:10px;height:10px;border-radius:100%" class="q-mr-sm" :style="{ 'background-color': colorCircleF(item.status_id)}" ></div> {{item.status}}
                    </div>
                  </q-item-section>
                </q-item>
                <q-separator class="q-ma-xs" inset />
              </q-card-section>
              <div class="row justify-end titles-font q-pb-xs q-gutter-x-xs">
                <q-btn label="descargar factura" color="primary" style="letter-spacing:-1px;" flat dense rounded @click="dfile(item)" >
                  <!-- <a :href="item.link_print" download style="width:0px;height:0px;font-size:0px;display:none" :id="'descargarFile_' + index" v-text="item.status"></a>
                  <a :href="item.link_print" :download="'Factura' + item.id" :name="'file_' + item.id" style="width:100%;height:100%;font-size:0px;position:absolute;z-index:1">Download Text</a> -->
                </q-btn>
              </div>
            </q-card>
          </div>
        </q-tab-panel>

        <q-tab-panel name="pen" style="padding: 10px !important;margin:0px !important">
          <div style="padding: 0 !important;margin:0px !important">
            <q-card class="shadow-3 box-shadow-card-listados q-mt-md padding-card" v-for="(item, index) in filterData" :key="index" style="border-radius:15px">
              <q-card-section style="padding: 0 !important;margin:0px !important">
                <q-item style="padding: 0 !important;margin:0px !important">
                  <q-item-section>
                    <q-item-label class="text-bold text-primary titles-font" style="font-size:15px">Receipt Number #{{item.id}}</q-item-label>
                    <q-item-label class="text-primary my-font-regular" v-if="item.days_delay">Retraso: {{item.days_delay}} días </q-item-label>
                    <q-item-label class="text-primary my-font-regular" v-if="item.expiration_days && item.expiration_days > 0">Expiración: {{item.expiration_days}} Dias </q-item-label>
                    <q-item-label class="text-primary my-font-regular" lines="2">Fecha de emisión: {{item.created_date}} </q-item-label>
                    <q-item-label  class="text-primary my-font-regular" >Total: ${{item.amount}} </q-item-label>
                    <div class="text-primary my-font-semibold row q-mt-sm items-center" style="font-size:14px" >
                      <div style="width:10px;height:10px;border-radius:100%" class="q-mr-sm" :style="{ 'background-color': colorCircleF(item.status_id)}" ></div> {{item.status}}
                    </div>
                  </q-item-section>
                </q-item>
                <q-separator class="q-ma-xs" inset />
              </q-card-section>
              <div class="row justify-end titles-font q-pb-xs q-gutter-x-xs">
                <q-btn label="descargar factura" color="primary" style="letter-spacing:-1px;" flat dense rounded @click="dfile(item)" >
                  <!-- <a :href="item.link_print" download style="width:0px;height:0px;font-size:0px;display:none" :id="'descargarFile_' + index" v-text="item.status"></a>
                  <a :href="item.link_print" :download="'Factura' + item.id" :name="'file_' + item.id" style="width:100%;height:100%;font-size:0px;position:absolute;z-index:1">Download Text</a>-->
                </q-btn>
              </div>
            </q-card>
          </div>
        </q-tab-panel>
      </q-tab-panels>
      <no-data v-if="nodataF" :modulo="nodataForm.modulo" :icon="nodataForm.icon" :caption="nodataForm.caption" />
  </q-page>
</template>

<script>
import { ListMixin } from '../../mixins/List'
import { date } from 'quasar'
const formattedString = date.formatDate(Date.now(), 'YYYY-MM-DD')
export default {
  mixins: [ListMixin],
  data () {
    return {
      /* nodataForm: {
        caption: 'No hay facturas generadas.',
        modulo: 'facturasHis',
        icon: 'iconos/factura.svg'
      }, */
      range: {
        date1: '',
        date2: ''
      },
      toggle: 'his',
      route: 'invoices',
      text: '',
      data2: [],
      data: [],
      busqueda: false
    }
  },
  computed: {
    filterData () {
      if (this.text === '') {
        return this.data
      } else {
        return this.data.filter(v => v.ware_house.toLowerCase().indexOf(this.text.toLowerCase()) > -1)
      }
    },
    nodataForm () {
      if (this.busqueda) {
        return {
          caption: 'No se encontraron resultados.',
          modulo: 'facturasHis',
          icon: 'nodata.svg'
        }
      } else if (this.toggle === 'his') {
        return {
          caption: 'No hay facturas generadas.',
          modulo: 'facturasHis',
          icon: 'iconos/factura.svg'
        }
      } else {
        return {
          caption: 'No hay facturas pendientes.',
          modulo: 'facturasPen',
          icon: 'iconos/factura.svg'
        }
      }
    },
    nodataF () {
      if (this.data) {
        if (this.data.length > 0) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    }
  },
  mounted () {
    this.range.date1 = formattedString
    this.range.date2 = formattedString
  },
  methods: {
    async filterRange () {
      const date1 = date.formatDate(this.range.date1, 'YYYY-MM-DD')
      const date2 = date.formatDate(this.range.date2, 'YYYY-MM-DD')
      console.log(date1, 'date 1', date2, 'date 2')
      this.$q.loading.show()
      await this.$api.get(`searchInvoice/${date1}/${date2}`).then(res => {
        this.$q.loading.hide()
        this.busqueda = true
        this.data = res.data
        console.log(res, 'res filter')
      })
    },
    async onToggleInput () {
      console.log(this.toggle)
      if (this.toggle === 'his') {
        this.getRecord()
        this.busqueda = false
        this.nodataForm()
      } else {
        this.getPending()
      }
    },
    async getPending () {
      this.$q.loading.show()
      await this.$api.get('invoicesPending').then(res => {
        this.$q.loading.hide()
        this.busqueda = false
        this.data = res.data
      })
    },
    async dfile (item) {
      /* this.$q.loading.show()
      await this.$api.get('printInvoice/' + item.id).then(res => {
        this.$q.loading.hide()
        console.log(res, 'resssssssssss')
        const file = 'Factura' + item.id + '.pdf'
        const blob = new Blob([res])
        const ext = file.split('.')
        const fileName = `${file} ${ext[ext.length - 1]}`
        console.log(res, 'resssssssssssss PDF')
        if (this.$q.platform.is.mobile) { // Si es teléfono
          this.saveBlob2File(fileName, blob)
        }
      }) */
      /* const nameId = 'file_' + item.id
      console.log(nameId, 'name id')
      const link = document.getElementsByName(nameId)
      console.log(link)
      link.href = item.link_print
      link.click() */
      /* cordova.plugins.fileOpener2.open(filePath, fileMIMEType, {
          error: function () { },
          success: function () { }
        }
      ) */
      window.open(item.link_print)
      // cordova.InAppBrowser.open(item.link_print, '_blank', 'location=yes')
    },
    afterMounted () {
      // this.data = this.data2
      console.log(this.data, 'data')
    },
    colorCircleF (status) {
      switch (status) {
        case 3: // 'Pagada':
          return '#00ea06' // verde
        case 1: // 'Por Pagar':
          return 'red' // rojo
        case 2: // 'Pendiente':
          return 'orange' // naranja
      }
    }
  }
}
</script>

<style scoped lang="scss">
.radio-bordes-item-paqueteria {
  border-radius: 12px;
  border: 1px solid rgb(92, 92, 92);
}
.status-design {
  border: 0px solid black;
  border-radius: 12px;
  background-color: $secondary;
  padding: 2px;
  text-align: center;
  color: $primary;
  font-size: 16px;
}

.padding-card {
  padding-left: 12px;
  padding-top: 11px;
  padding-right: 13px;
}

.select-border {
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
</style>
