<template>
  <q-page class="q-pb-lg titles-font">
    <div class="row items-center justify-center q-pa-sm q-pt-md">
      <q-input borderless v-model="text" placeholder="Buscar por código Warehouse" dense style="font-size:15px;width:100%" class="box-shadow-search my-font-semibold"
      >
        <template v-slot:append>
          <q-icon v-if="text === ''" name="search" color="secondary" />
          <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" color="secondary" />
        </template>
      </q-input>
    </div>
    <div class="q-ma-sm">
      <q-card class="shadow-3 box-shadow-card-listados q-mt-md padding-card" v-for="(item, index) in filterData" :key="index" style="border-radius:15px">
        <q-card-section style="padding: 0 !important;margin:0px !important">
          <q-item style="padding: 0 !important;margin:0px !important">
            <q-item-section>
              <q-item-label class="text-bold text-primary titles-font" style="font-size:15px">WH-{{item.ware_house}}</q-item-label>
              <q-item-label class="text-primary my-font-regular" lines="2">Descripción: <label class="text-uppercase"> {{item.description}} </label> </q-item-label>
              <q-item-label  class="text-primary my-font-regular" v-if="item.date_delivery" >Fecha de recepción: {{item.date_delivery}} </q-item-label>
              <div class="text-primary my-font-semibold row q-mt-sm items-center" style="font-size:14px" >
                <div style="width:10px;height:10px;border-radius:100%" class="q-mr-sm" :style="{ 'background-color': colorCircle(item.status_id)}" ></div> {{item.status}}
              </div>
            </q-item-section>
          </q-item>
          <q-separator class="q-ma-xs" inset />
        </q-card-section>
        <div class="row justify-start titles-font q-pb-xs q-gutter-x-xs">
          <q-btn :label="item.status_id === 1 && item.instrucctions != 1 ? 'asignar instrucción' : 'asignada'" :disable="item.status_id === 1 && item.instrucctions != 1 ? false : true " color="primary" style="letter-spacing:-1px;" flat dense rounded icon="menu"
            :to="'/instrucciones/form/paquete/' + item.id"
          />
          <q-btn label="ver más" color="primary" style="letter-spacing:-1px;" flat dense rounded icon="add" :to="'/paqueteria/form/' + item.id" />
        </div>
      </q-card>
    </div>
    <no-data v-if="nodataC" modulo="paquetes" icon="almacen.svg" caption="No tiene paquete generados." />
  </q-page>
</template>

<script>
import { ListMixin } from '../../mixins/List'
export default {
  mixins: [ListMixin],
  data () {
    return {
      route: 'packages',
      text: '',
      search: '',
      data: []
      /* data2: [
        {
          id: 1,
          ware_house: 'WH-893293',
          date_in: '21/05/2021',
          description: '1 TABLET',
          status: 'En almacén MIAMI', // amarillo
          color: '#ffc600'
        },
        {
          id: 1,
          ware_house: 'WH-108264',
          date_in: '11/05/2021',
          description: '1 POTABLE AQUA',
          status: 'En tránsito', // azul
          color: '#014dd9'
        },
        {
          id: 1,
          ware_house: 'WH-985211',
          date_in: '18/04/2021',
          description: '26 BLACK BRAIDING, 6 COLOR HAIR',
          status: 'En tránsito VENEZUELA', // verde
          color: '#00ea06'
        },
        {
          id: 1,
          ware_house: 'WH-652300',
          date_in: '29/03/2021',
          description: '1 TOSHIBA SSD, 2 X 8 GB RAM DDR4, 1 POWER SUPPLY 80 GOLD ASUS ROG',
          status: 'Entregado', // verde
          color: '#00ea06'
        }
      ] */
    }
  },
  computed: {
    filterData () {
      if (this.data && this.data.length > 0) {
        if (this.text === '') {
          return this.data
        } else {
          return this.data.filter(v => v.ware_house.toLowerCase().indexOf(this.text.toLowerCase()) > -1)
        }
      } else {
        return []
      }
    }
  },
  mounted () {
    // this.getData()
  },
  methods: {
    async getData () {
      this.$q.loading.show()
      await this.$api.get('packages').then(res => {
        this.$q.loading.hide()
        if (!res.error) {
          console.log(res, 'res packages')
          this.data = res.data
        }
      })
    },
    afterMounted () {
      // this.data = this.data2
    }
  }
}
</script>

<style scoped lang="scss">
.radio-bordes-item-paqueteria {
  border-radius: 12px;
  border: 1px solid rgb(92, 92, 92);
}
.status-design {
  border: 0px solid black;
  border-radius: 12px;
  background-color: $secondary;
  padding: 2px;
  text-align: center;
  color: $primary;
  font-size: 16px;
}

.padding-card {
  padding-left: 15px;
  padding-top: 11px;
  padding-right: 13px;
}
</style>
