<template>
  <q-page class="sin-padding-margin titles-font">
    <div class="row items-center justify-center q-pa-sm q-pt-md">
      <q-input borderless v-model="text" placeholder="Buscar por código Warehouse" dense style="font-size:15px;width:100%" class="box-shadow-search my-font-semibold"
      >
        <template v-slot:append>
          <q-icon v-if="text === ''" name="search" color="secondary" />
          <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" color="secondary" />
        </template>
      </q-input>
    </div>
    <div class="q-ma-sm">
      <q-card class="shadow-3 box-shadow-card-listados q-mt-md padding-card" v-for="(item, index) in filterData" :key="index" style="border-radius:15px">
        <q-card-section style="padding: 0 !important;margin:0px !important">
          <q-item style="padding: 0 !important;margin:0px !important">
            <q-item-section>
              <q-item-label class="text-bold text-primary titles-font" style="font-size:15px">{{item.ware_house}}</q-item-label>
              <q-item-label class="text-primary my-font-regular">Tracking: {{item.tracking}} </q-item-label>
              <q-item-label class="text-primary my-font-regular" lines="2">Descripción: {{item.description}} </q-item-label>
              <q-item-label  class="text-primary my-font-regular" v-if="item.created_date" >Fecha de recepción: {{item.created_date}} </q-item-label>
              <div class="text-primary my-font-semibold row q-mt-sm items-center" style="font-size:14px" >
                <div style="width:10px;height:10px;border-radius:100%" class="q-mr-sm" :style="{ 'background-color': colorCircle(item.status_id)}" ></div> {{item.status}}
              </div>
            </q-item-section>
          </q-item>
          <q-separator class="q-ma-xs" inset />
        </q-card-section>
        <div class="row justify-end titles-font q-pb-xs q-gutter-x-xs">
          <q-btn label="asignar" color="primary" style="letter-spacing:-1px;" flat dense :disable="item.status_id != 2 ? true : false" rounded :to="'/instrucciones/form/' + item.id" />
        </div>
      </q-card>
    </div>
    <no-data v-if="nodataC" modulo="instrucciones" icon="instrucciones.svg" caption="No hay instrucciones en este momento." />
  </q-page>
</template>

<script>
import { ListMixin } from '../../mixins/List'
export default {
  mixins: [ListMixin],
  data () {
    return {
      route: 'instrucctions',
      text: '',
      data: [
      ]
    }
  },
  computed: {
    filterData () {
      if (this.data && this.data.length > 0) {
        if (this.text === '') {
          return this.data
        } else {
          return this.data.filter(v => v.ware_house.toLowerCase().indexOf(this.text.toLowerCase()) > -1)
        }
      } else {
        return []
      }
    }
  },
  mounted () {
  },
  methods: {
    afterMounted () {
    }
  }
}
</script>

<style scoped lang="scss">
.radio-bordes-item-paqueteria {
  border-radius: 12px;
  border: 1px solid rgb(92, 92, 92);
}
.status-design {
  border: 0px solid black;
  border-radius: 12px;
  background-color: $secondary;
  padding: 2px;
  text-align: center;
  color: $primary;
  font-size: 16px;
}

.padding-card {
  padding-left: 15px;
  padding-top: 11px;
  padding-right: 13px;
}
</style>
