<template>
  <q-layout view="lHh Lpr lFf" class="my-font">
    <q-header v-if="toolbar" class="bg-secondary">
      <q-toolbar class="row justify-center items-center" style="height:90%">

        <div class="column items-center">
          <q-img src="iconlogo2.svg" width="40px" height="40px" />
        </div>

        <div>
          <!-- <q-btn round dense flat color="white" icon="notifications">
            <q-badge color="red" text-color="white" floating>
              {{notificaciones}}
            </q-badge>
            <q-menu>
              <q-list style="min-width: 100px;width:300px">
                <q-item-label header>Notificaciones</q-item-label>
                <q-separator inset />
                <q-item clickable v-ripple class="q-ma-sm">
                  <q-item-section>
                    <q-item-label>Titulo</q-item-label>
                    <q-item-label caption>Descripcion</q-item-label>
                  </q-item-section>
                  <q-item-section side top>
                    <q-item-label caption>5 min ago</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
          <q-btn icon="logout" color="primary" flat round @click="$router.push('/login')" style="position: absolute;right:5px;top:5px" />-->
          <q-img src="iconos/logout1.svg" style="position: absolute;right:10px;top:15px" width="20px" height="20px" @click="confirmLogout()" />
        </div>
      </q-toolbar>
    </q-header>

    <q-header v-if="toolbarRoute" class="bg-secondary">
      <q-toolbar>
        <q-btn icon="arrow_back" color="primary" flat round dense @click="$router.go(-1)" />
        <q-toolbar-title class="text-primary titles-font text-uppercase">
          {{titleRoute}}
        </q-toolbar-title>
        <q-btn v-if="addButtonT" icon="add" color="primary" flat round @click="$router.push($route.path + '/form')" size="14px" />
      </q-toolbar>
    </q-header>

    <q-footer v-if="showFooter" class="bg-white box-shadow-footer" style="height:55px">
      <q-btn icon="add" dense size="22px" color="secondary" round style="position:absolute;bottom:15px;z-index:1;left:43%" to="/prealertas"  />
      <template class="full-width">
        <div class="q-ml-md row items-center justify-between q-mt-xs" style="width:100%;">
          <div class="col">
            <q-btn dense style="height:100%;" size="20px" color="secondary" flat round to="/index" >
              <div style="width:35px;height:35px" v-html="iconos.home">  </div>
            </q-btn>
          </div>
          <div class="col">
            <q-btn style="height:100%;" dense size="16px" color="secondary" flat round >
              <div style="width:32px;height:32px" v-html="iconos.notification">  </div>
              <!-- <q-badge rounded color="red" floating>1</q-badge> -->
              <q-menu style="width:300px;height:100%;min-width:300px;min-height:300px" transition-show="flip-right" transition-hide="flip-left"
                anchor="bottom left"
              >
                <q-list v-if="notifications.length > 0" separator class="m-font-regular" style="width:250px">
                  <q-item-label header class="text-left text-primary titles-font text-uppercase" >Mis Notificaciones</q-item-label>
                  <q-separator />
                  <q-item v-for="(item, index) in notifications" :key="index">
                    <q-item-section>
                      <q-item-label class="text-bold" lines="3" style="font-size: 13px">{{item.title ? item.title : ''}}</q-item-label>
                      <q-item-label lines="4" style="font-size: 13px">{{item.description}}</q-item-label>
                      <q-item-label caption>{{item.date}}</q-item-label>
                    </q-item-section>

                  </q-item>
                  <q-separator inset />
                </q-list>
                <div v-else class="q-pa-md my-font-regular">
                  No tiene notificaciones.
                </div>
              </q-menu>
            </q-btn>
          </div>
          <div class="col" style="height:100%;"></div>
          <div class="col">
            <q-btn dense style="height:100%;" size="20px" color="secondary" flat round to="facturas" >
              <div style="width:35px;height:35px" v-html="iconos.factura">  </div>
            </q-btn>
          </div>
          <div class="col">
            <q-btn dense style="height:100%;" size="20px" color="secondary" flat round to="perfil" >
              <div style="width:35px;height:35px" v-html="iconos.person">  </div>
            </q-btn>
          </div>
        </div>
      </template>
    </q-footer>

    <q-dialog v-model="alert" class="window-width" >
      <q-card class="my-font-regular window-width">
        <q-card-section>
          <div class="text-h6 text-bold text-uppercase my-font-extra-bold">¡Confirmación!</div>
        </q-card-section>

        <q-card-section class="q-pt-none color-siete" style="font-size:16px">
          ¿Desea cerrar su sesión?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="OK" color="primary" v-close-popup @click="mLogout()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-page-container style="margin-top:0px !important;padding-top:40px !important">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// const colorPrimary = '#232784'
const colorSecondary = '#f0aa00'
import { mapMutations } from 'vuex'
export default {
  name: 'MainLayout',
  data () {
    return {
      alert: false,
      notifications: [],
      leftDrawerOpen: false,
      notificaciones: 1,
      user: {
        name: ''
      },
      text: '',
      iconos: {
        home: `<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:none;stroke:${colorSecondary};stroke-miterlimit:10;stroke-width:1.83px;}</style></defs><title>home, house, building, real estate, property</title><polyline class="cls-1" points="1 12 12 2.83 23 12"/><polyline class="cls-1" points="19.33 9.25 19.33 21.17 14.75 21.17 14.75 13.83 9.25 13.83 9.25 21.17 4.67 21.17 4.67 9.25"/></svg>`,
        notification: `<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:none;stroke:${colorSecondary};stroke-miterlimit:10;stroke-width:1.91px;}</style></defs><title>add bell, bell, reminder, notification, alarm, add, new, create, plus</title><path class="cls-1" d="M20.59,14.86V10.09A8.6,8.6,0,0,0,12,1.5h0a8.6,8.6,0,0,0-8.59,8.59v4.77L1.5,16.77v1.91h21V16.77Z"/><path class="cls-1" d="M14.69,18.68a2.55,2.55,0,0,1,.17,1,2.86,2.86,0,0,1-5.72,0,2.55,2.55,0,0,1,.17-1"/><line class="cls-1" x1="8.18" y1="11.05" x2="15.82" y2="11.05"/><line class="cls-1" x1="12" y1="7.23" x2="12" y2="14.86"/></svg>`,
        factura: `
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
          <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="38px" height="38px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" fill="${colorSecondary}">
          <path d="M66.667,43.333H60c-1.843,0-3.333-1.491-3.333-3.333H56.66h0.007c0-1.842,1.49-3.333,3.333-3.333v-0.003v0.003h6.667
          C68.509,36.667,70,38.158,70,40h6.667c0-5.521-4.479-10-10-10v-6.667H60V30l0,0c-5.521,0-10,4.479-10,10l0,0c0,5.521,4.479,10,10,10
          h6.667C68.509,50,70,51.49,70,53.333h-0.007c0,1.843-1.49,3.334-3.333,3.334H60c-1.843,0-3.333-1.491-3.333-3.334H50
          c0,5.521,4.479,10,10,10V70h6.667v-6.667c5.521-0.006,9.993-4.479,9.993-10h0.007C76.667,47.813,72.188,43.333,66.667,43.333z"/>
          <path d="M16.667,10v26.667H10v6.667h6.667V90L35,83.333L53.333,90l18.334-6.667L90,90V10H16.667z M83.333,80.481L71.667,76.24
          l-18.334,6.667L35,76.24l-11.667,4.241V43.333H35.29l-5.286,5.286l4.713,4.713l10.977-10.976c1.295-1.296,1.295-3.418,0-4.714
          L34.717,26.667l-4.713,4.714l5.286,5.286H23.333v-20h60V80.481z"/>
          </svg>

        `,
        person: `<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:none;stroke:${colorSecondary};stroke-miterlimit:10;stroke-width:1.91px;}</style></defs><title>user, person, profile, account, contact</title><circle class="cls-1" cx="12" cy="7.25" r="5.73"/><path class="cls-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"/></svg>`

      }
    }
  },
  computed: {
    showFooter () {
      return this.$route.meta.footer
    },
    toolbar () {
      return this.$route.meta.toolbar
    },
    toolbarRoute () {
      return this.$route.meta.toolbarRoute
    },
    titleRoute () {
      return this.$route.meta.title
    },
    goRoute () {
      return this.$route.meta.backroute
    },
    addButtonT () {
      return this.$route.meta.addButton
    }
  },
  mounted () {
    this.getNotifications()
  },
  methods: {
    ...mapMutations('generals', ['logout']),
    mLogout () {
      this.logout()
      this.$router.push('/login')
    },
    async confirmLogout () {
      /* this.$q.dialog({
        title: '¡Confirmación!',
        message: '¿Desea cerrar su sesión?',
        cancel: true,
        persistent: true,
        ok: 'Si',
        class: 'my-font-regular'
      }).onOk(() => {
        this.mLogout()
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      }) */
      this.alert = true
    },
    async getNotifications () {
      const res = await this.$api.get('notifications')
      if (res.success) {
        this.notifications = res.data
      }
      // this.notifications = [1, 2, 3, 4]
    }
  }
}
</script>

<style lang="scss">
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $primary;
  text-align: center;
}
</style>
