<template>
  <q-page style>
    <div class="q-pt-md row justify-center">
      <q-btn-toggle v-model="toggle" toggle-text-color="primary" text-color="secondary" toggle-color="secondary"
        :options="[{label: 'Facturados', value: 'fac'},{label: 'No facturados', value: 'nofac'}]" @input="onToggleInput()"
      />
    </div>
    <div class="q-pa-sm">
      <q-card class="radio-bordes-item-prelerta q-mt-md box-shadow-card-listados padding-card" v-for="(item, index) in data" :key="index" style="height:auto">
        <q-card-section style="padding: 0 !important;margin:0px !important">
          <q-item dense style="padding: 0 !important;margin:0px !important">
            <q-item-section>
              <q-item-label class="text-bold text-primary titles-font" style="font-size:16px">Envío <label>#{{item.id}}</label></q-item-label>
              <!--
              <q-item-label class="text-primary my-font-medium">Tracking: {{item.tracking}}</q-item-label> -->
              <q-item-label v-if="item.currier" class="text-primary my-font-regular">WH: <label> {{item.ware_house}} </label> </q-item-label>

              <q-item-label class="text-primary my-font-regular">Fecha de llegada: <label class="my-font"> {{item.date_delivery}} </label> </q-item-label>
              <q-item-label class="text-primary my-font-regular">Envío: <label> {{item.shippins}} </label> </q-item-label>
              <div class="text-primary my-font-semibold row q-mt-sm items-center" style="font-size:14px" >
                <div style="width:10px;height:10px;border-radius:100%" class="q-mr-sm" :style="{ 'background-color': colorCircle(item.status_id)}" ></div>
                <div> {{item.status}} </div>

              </div>
            </q-item-section>
          </q-item>
        </q-card-section>
        <div class="row justify-end titles-font q-pb-xs q-gutter-x-xs">
          <q-btn label="Ver mapa" color="primary" style="letter-spacing:-1px;" flat dense rounded @click="verEnvio(item.latitude, item.longitude, item)" />
          <q-btn v-if="item.flag === 1" label="recibo" color="primary" style="letter-spacing:-1px;" flat dense rounded @click="dfile(item.link_print)" />
        </div>
      </q-card>
    </div>
    <q-dialog v-model="dEnvio" :maximized="true" transition-show="slide-up" transition-hide="slide-down" >
      <q-layout view="Lhh lpR fff" container class="bg-white">
        <q-header class="bg-secondary">
          <q-toolbar>
            <q-btn icon="arrow_back" color="primary" flat round dense v-close-popup />
            <q-toolbar-title class="text-primary titles-font text-uppercase">
              ubicación
            </q-toolbar-title>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page>
            <q-scroll-area style="height:35vh;width:100%" v-if="infoShippings">
              <div class="column text-center text-primary" style="padding-top:7px">
                <div class="column q-pt-sm">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary">Tracking</div>
                  <div class="text-uppercase my-font-semibold text-subtitle1" style="line-height:10px"> {{infoShippings.tracking}} </div>
                </div>

                <div class="column q-pt-md">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary q-px-xl" style="line-height:20px">fecha de ingreso en almacén</div>
                  <div class="text-uppercase my-font-semibold text-subtitle1 q-pt-xs" style="line-height:auto"> {{infoShippings.date}} </div>
                </div>

                <div class="column q-pt-md">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary q-px-xl" style="line-height:20px">contenido</div>
                  <div class="my-font-semibold text-subtitle1 q-pt-xs q-px-xl" style="line-height:20px"> {{infoShippings.description}} </div>
                </div>

                <div class="column q-pt-md">
                  <div class="text-uppercase my-font-extra-bold text-h6 text-bold text-primary q-px-xl" style="line-height:20px">estatus</div>
                  <div class="text-uppercase my-font-semibold text-subtitle1 q-pt-xs" style="line-height:auto"> {{infoShippings.status}} </div>
                </div>
              </div>
            </q-scroll-area>
            <q-card class="bg-secondary text-white">
              <q-card-section style="padding: 0px !important;height:60vh">
                <google-map :center="center" style="height: 100%; width:100%" />
              </q-card-section>
            </q-card>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
    <no-data v-if="nodataC" modulo="envios" icon="package1.svg" caption="No hay envíos en este momento." />
  </q-page>
</template>

<script>
import { ListMixin } from '../../mixins/List'
import GoogleMap from '../../components/GoogleMapView'
export default {
  mixins: [ListMixin],
  components: {
    GoogleMap
  },
  data () {
    return {
      toggle: 'fac',
      center: { lat: 10, lng: 10 },
      dEnvio: false,
      route: 'shippings',
      infoShippings: null,
      search: '',
      data: [
      ]
    }
  },
  mounted () {
  },
  methods: {
    afterGetRecord () {
      /* this.nodataC = false
      this.data = [
        {
          id: 162,
          ware_house: '188902',
          nro_box: '1',
          tracking: 'TBA162825070201',
          shippins: 'MARÍTIMO',
          shippins_id: '1',
          nro_container: '107',
          date_delivery: '2021-10-08',
          status_id: '7',
          invoice_status: '0',
          latitude: '8.394971',
          longitude: '-66.4330047',
          repackage: '1',
          status: 'E',
          high: '5.00',
          width: '12.00',
          long: '4.00',
          lb_volume: '1.45',
          weight: '1.25',
          pie_cubico: '1.00',
          nro_pieces: '1',
          facturado: '0',
          insured: '0',
          cliente: 'MIGUEL TROTTA',
          code: '27876',
          description: '1 PAR DE ZAPATOS CON MEMORY FOAM MARCA PTHANN.',
          user_id: '40',
          date: '08-09-2021'
        },
        {
          id: 98,
          invoices_id: '196782',
          high: '12',
          width: '12',
          long: '7',
          weight: '5.5',
          subtotal_lb: '6.07',
          total_pie3: '1',
          ware_house: '196782',
          currier: '114',
          status_id: '7',
          status: 'ENTREGADO',
          shippins_id: '1',
          description: '1 CABLE USB',
          shippins: 'MARÍTIMO',
          date_delivery: '08-10-2021',
          status_siglas: 'E',
          tracking: '420331669400111899561465580981',
          latitud: '8.394971',
          longitud: '-66.4330047',
          nro_pieces: '1',
          facturado: '1',
          link_print: 'http://localhost/venezuelaCargoAdmin/venezuelacargo2308/public/api/v1/printInvoice/196782',
          flag: 1
        }
      ] */
    },
    async verEnvio (lat, lng, itm) {
      this.center.lat = parseFloat(lat)
      this.center.lng = parseFloat(lng)
      this.infoShippings = itm
      this.dEnvio = true
    },
    onToggleInput () {
      const tg = this.toggle
      if (tg === 'fac') {
        this.route = 'shippings'
      } else {
        this.route = 'shippings/forConfirm'
      }
      this.getRecord()
    },
    async dfile (item) {
      console.log(item, 'item')
      window.open(item.link_print)
    }
  }
}
</script>

<style scoped lang="scss">
.radio-bordes-item-prelerta {
  border-radius: 12px;
}

.status-design {
  border: 0px solid black;
  border-radius: 12px;
  background-color: $secondary;
  padding: 2px;
  text-align: center;
  color: $primary;
  font-size: 16px;
}

.padding-card {
  padding-left: 15px;
  padding-top: 11px;
  padding-right: 13px;
}

</style>
