<template>
  <q-page class="flex flex-center q-pa-none q-ma-none">
    <div class="q-ma-xs q-mt-lg">
      <q-card-section>
        <q-input outlined v-model="form.tracking" label="Tracking" class="full-width"
          :error="$v.form.tracking.$error" @blur="$v.form.tracking.$touch()"
        />
        <q-select outlined v-model="form.company_id" label="Empresa" class="full-width"
          error-message="Campo Requerido" :error="$v.form.company_id.$error" @blur="$v.form.company_id.$touch()"
          :options="empresas" option-label="text" option-value="id" emit-value map-options
        />
        <q-input outlined v-model="form.date_in" label="Fecha Estimada de Llegada" class="full-width"
          error-message="Campo Requerido" :error="$v.form.date_in.$error" @blur="$v.form.date_in.$touch()"
          mask="date" :rules="['date']" @focus="openDate()"
        >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer" id="qDateIcon" color="secondary">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date v-model="form.date_in">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Cerrar" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn v-if="!id" label="Registrar" push color="secondary" text-color="primary" class="titles-font" style="height:36px;width:90%" @click="save()" />
        <q-btn v-if="id" label="Guardar" push color="secondary" text-color="primary" class="titles-font" style="height:36px;width:90%" @click="update()" />
      </q-card-actions>
    </div>
  </q-page>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import { date } from 'quasar'
export default {
  data () {
    return {
      id: this.$route.params.id,
      title: 'Nueva Pre-Alerta',
      form: {},
      empresas: []
    }
  },
  validations () {
    return {
      form: {
        tracking: { required, maxLength: maxLength(20) },
        company_id: { required },
        date_in: { required }
      }
    }
  },
  mounted () {
    this.getCompanies()
    if (this.$route.params.id) {
      this.getRecord()
    }
  },
  methods: {
    async update () {
      this.$q.loading.show()
      this.$v.$touch()
      if (!this.$v.form.$error) {
        const formattedString = date.formatDate(this.form.date_in, 'YYYY-MM-DD')
        var form = { tracking: this.form.tracking, date_in: this.form.date_in, company_id: this.form.company_id, id: this.form.id }
        form.date_in = formattedString
        console.log(form, 'form', formattedString, 'formated')
        await this.$api.patch('prealerts/update', form).then(res => {
          this.$q.loading.hide()
          if (!res.error) {
            this.$q.notify({
              message: 'Prealerta Actualizada Correctamente',
              color: 'positive'
            })
            this.$router.go(-1)
          }
        })
      }
    },
    async getRecord () {
      this.$q.loading.show()
      await this.$api.get('prealerts/' + this.id).then(res => {
        this.$q.loading.hide()
        if (!res.error) {
          console.log(res, 'res')
          const formattedString = date.formatDate(res.data[0].date_in, 'YYYY/MM/DD')
          res.data[0].date_in = formattedString
          this.form = res.data[0]
        }
      })
    },
    async getCompanies () {
      this.$q.loading.show()
      await this.$api.get('companies/prealerts').then(res => {
        this.$q.loading.hide()
        if (!res.error) {
          console.log(res, 'res companies')
          this.empresas = res.data
        }
      })
    },
    openDate () {
      const iconDate = document.getElementById('qDateIcon')
      iconDate.click()
    },
    async save () {
      this.$q.loading.show()
      this.$v.$touch()
      console.log(this.form.tracking.length, 'lengh')
      if (!this.$v.form.$error) {
        const formattedString = date.formatDate(this.form.date_in, 'YYYY-MM-DD')
        var form = { ...this.form }
        form.date_in = formattedString
        console.log(form, 'form', formattedString, 'formated')
        await this.$api.post('prealerts/store', form).then(res => {
          this.$q.loading.hide()
          console.log(res, 'res save')
          if (!res.error) {
            this.$q.notify({
              message: 'Prealerta Guardada Correctamente',
              color: 'positive'
            })
            this.$router.go(-1)
          }
        })
      }
      this.$q.loading.hide()
    }
  }
}
</script>

<style>

</style>
