<template>
  <q-page>
    <div class="q-pa-sm">
      <q-card class="radio-bordes-item-prelerta q-mt-md box-shadow-card-listados padding-card" v-for="(item, index) in data" :key="index" style="height:auto">
        <q-card-section style="padding: 0 !important;margin:0px !important">
          <q-item dense style="padding: 0 !important;margin:0px !important">
            <q-item-section>
              <q-item-label class="text-bold text-primary titles-font" style="font-size:16px">Pre-alerta <label>#{{item.id}}</label></q-item-label>
              <q-item-label class="text-primary my-font-medium">Tracking: {{item.tracking}}</q-item-label>
              <q-item-label class="text-primary my-font-regular">Courier: <label> {{item.currier}} </label> </q-item-label>
              <q-item-label class="text-primary my-font-regular">Fecha de llegada: <label> {{item.date_in}} </label> </q-item-label>
              <div class="text-primary my-font-semibold row q-mt-sm items-center" style="font-size:14px" >
                <div style="width:10px;height:10px;border-radius:100%" class="q-mr-sm" :style="{ 'background-color': colorCircle(1)}" ></div> {{item.status}}
              </div>
            </q-item-section>
          </q-item>
        </q-card-section>
        <div class="row justify-end titles-font">
          <q-btn label="Editar" color="primary" flat dense rounded @click="$router.push('prealertas/form/' + item.id)" />
          <q-btn label="Eliminar" color="negative" flat dense rounded @click="confirmDelete(item.id)" />
        </div>
      </q-card>
    </div>
    <no-data v-if="nodataC" modulo="prealerta" icon="iconos/noti_acept.svg" caption="No tiene pre-alertas generadas." />
    <q-dialog v-model="alert" class="window-width" >
      <q-card class="my-font-regular window-width">
        <q-card-section>
          <div class="text-h6 text-bold text-uppercase my-font-extra-bold">¡Atención!</div>
        </q-card-section>

        <q-card-section class="q-pt-none color-siete" style="font-size:16px">
          ¿Esta seguro que quiere eliminar?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="OK" color="primary" v-close-popup @click="eliminar(id)" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      alert: false,
      id: null,
      nodataC: false,
      pagina: 1,
      search: '',
      data: [
        /* {
          nro: 4,
          fechaL: '16/06/2021',
          cont: 'UPS',
          empresaT: '1Z602AW60318271771',
          status: false
        },
        {
          nro: 3,
          fechaL: '15/06/2021',
          cont: 'LASERSHIP',
          empresaT: 'LH12693418',
          status: false
        },
        {
          nro: 2,
          fechaL: '01/06/2021',
          cont: 'USPS',
          empresaT: '1Z21F61F3A00003575',
          status: false
        },
        {
          nro: 1,
          fechaL: '26/05/2021',
          cont: 'AMAZON LOGISTIC',
          empresaT: 'TBA8965432100',
          status: false
        } */
      ]
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    colorCircle (status) {
      switch (status) {
        case 1: // 'En almacén MIAMI':
          return '#ffc600' // amarillo
        case 2: // 'En proceso de envío a Venezuela':
          return 'orange' // naranga
        case 3: // 'En tránsito':
        case 4: // 'En aduana VENEZUELA':
        case 5: // 'En almacén LA GUAIRA VENEZUELA':
        case 6: // 'En tránsito VENEZUELA':
          return '#014dd9' // azul
        case 7: // 'Entregado':
          return '#00ea06 ' // verde
      }
    },
    onChangePage (ind, done) {
      console.log('cargando nuevas paginas')
      setTimeout(() => {
        this.data.push({})
      }, 2000)
    },
    async getData () {
      this.$q.loading.show()
      await this.$api.get('prealerts').then(res => {
        this.$q.loading.hide()
        if (!res.error) {
          console.log(res, 'res')
          this.data = res.data
          this.nodataC = this.data.length === 0
        }
      })
    },
    async confirmDelete (id) {
      this.id = id
      this.alert = true
      /* this.$q.dialog({
        title: '¡Atención!',
        message: '¿Esta seguro que quiere eliminar?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.eliminar(id)
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      }) */
    },
    async eliminar (id) {
      this.$q.loading.show()
      await this.$api.delete('prealerts/delete/' + id).then(res => {
        this.$q.loading.hide()
        if (!res.error) {
          console.log(res, 'res')
          this.$q.notify({
            message: res.message,
            color: 'positive'
          })
          this.getData()
          // this.data = res.data
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
.radio-bordes-item-prelerta {
  border-radius: 12px;
}

.status-design {
  border: 0px solid black;
  border-radius: 12px;
  background-color: $secondary;
  padding: 2px;
  text-align: center;
  color: $primary;
  font-size: 16px;
}

.padding-card {
  padding-left: 15px;
  padding-top: 11px;
  padding-right: 13px;
}

</style>
